/* GENERAL */
@import "./navbar.css";
@import "./tooltip.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  font-size: 17px;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: calibri, 'Trebuchet MS', sans-serif ;
  font-size: 15px;
  min-height: 100vh;
  padding-bottom: 20px;
}
.icon {
  width: 24px;
  height: 24px;
}
a {
  text-decoration: none;
  color: rgb(37 99 235 / var(--tw-bg-opacity));
  font-weight: bold;
}
#home {
  padding-top: 40px;
}
.h-100 {
  height: 100vh;
}
.flex-row {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.flex-col-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ease-out {
  transition-timing-function: cubic-bezier(0,0,.2,1);
}
.duration-300 {
  transition-duration: .3s;
}

/* BODY */
body section {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  justify-content: center;
  gap: 12px;
  max-width: 600px;
  margin: auto;
  margin-top: 10px;
}

/* COMMON */
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  gap: 8px;
}

.badge {
  background-color: black;
  border: 1px solid gray;
  color: white;
  font-size: 11px;
  padding: 4px 10px;
  font-weight: 500;
  text-align: center;
  border-radius: 15px;
}
.badge-icon {
  display: flex; align-items: center; padding: 4px 6px; gap: 4px;
}
.light {
  background-color: hsl(0 0% 96.1%);
  color: black;
  font-weight:600;
  border-radius: 6px;
  border: none;
  padding: 4px 8px;
  font-size: 11px;
}

.links .badge:hover {
  cursor: pointer;
  background-color: rgb(9, 79, 230);
  border: 1px solid rgb(9, 79, 230);
}


/* SECTIONS */
#projects-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.project-container {
  width: 48%;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}

.project-container:hover {
  box-shadow: 1px 1px #e5e7eb;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 6px;
  padding-bottom: 7px;
  border-top: 1px solild black;
}
.get_code {
  position: fixed;
  bottom: 0.6em;
  right: 0.6em;
}
.get_code .badge {
  font-size: 13px;
  padding: 4px 14px;
}
.hidden-github { 
  display: none;
  height: 0;
}
.image img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #e5e7eb;
  background-size:auto;
  background-color: black;
  border-radius: 6px 6px 0px 0px; 
}
.name {
  font-size: medium;
  font-weight: 600;
  font-size: 18px;
}
.timeline {
  font-size: 12px;
  color: rgb(45, 45, 45);
  font-weight: 500;
}
.description {
  font-size: 13px;
  color: rgb(40, 40, 40);
  margin-top: -2px;
}
#contact-list {
  gap: 16px;
}

@media only screen and (max-width: 768px) {
  body {
    padding-bottom: 70px;
  }
  .project-container {
    width: 100%;
  }
  body section {
    max-width: 90%;
  }
  #contact-list {
    justify-content: center;
    text-align: center;
  }
  #contacts {
    text-align: center;
  }
  .icon {
    width: 18px;
  }
  .image img {
    width: 100%;
    height: auto;
  }
  .get_code {
    display: none;
  }
  .hidden-github {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
  }
}